.outer-container {
    height: 100vh;
    /* border: 1px solid red; */
    width: 25rem;

    margin: 0 auto;
    background-color: rgb(243, 243, 243);

}

.digits-operator-container {

    height: 30rem;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.box {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.i {
    height: 4rem;
    width: 4rem;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    display: flex;
    font-size: xx-large;
    font-family: sans-serif;

    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.line {

    border: 1px solid rgb(207, 205, 205);
    margin-bottom: 2rem;
}

.cross-btn {
    display: flex;
    justify-content: flex-end;
    padding-right: 3.5rem;
    /* padding-bottom: 1rem; */
}

.operator {
    color: rgb(5, 150, 5);
}

.equals-btn {
    background-color: rgb(11, 228, 11);

}